{% extends "../template.html" %}
{% block admincontent %}
<h1 class="text-2xl">admin#experience#list</h1>
<table class="table-auto border-1 border-white p-1">
    <tr>
        <th>Title</th>
        <th>Type</th>
        <th>Company</th>
        <th>Description</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Buttons</th>
    </tr>
    {% for experience in experiences %}
    <tr>
        <td>{{ experience.name }}</td>
        <td>{{ experience.company }}</td>
        <td>{{ experience.description }}</td>
        <td>{{ experience.start_date }}</td>
        <td>{{ experience.end_date }}</td>
        <td>{{ experience.e_type }}</td>
        <td><button data-controller="admin-delete" data-admin_delete-path="/admin/experience"
                data-admin_delete-id="{{ experience.id.unwrap() }}"
                data-action="click->admin-delete#process">Delete</button></td>

    </tr>
    {% endfor %}
</table>
{%endblock admincontent%}