{% extends "../template.html" %}
{%- import "../../parts/form.html" as form -%}
{% block admincontent %}
<h1 class="text-2xl">admin#project#new</h1>
<form action="/admin/project" method="post" enctype="multipart/form-data">
    {% call form::input("", "name", "Name", "true", "") %}
    {% call form::input("", "description", "Description", "true", "") %}
    {% call form::input("", "src", "SRC", "false", "") %}
    {% call form::input("", "docs", "Docs", "false", "") %}
    {% call form::input("", "demo", "Demo", "false", "") %}
    {% call form::input("file", "preview_img", "Preview IMG", "false", "") %}
    {% call form::input("checkbox", "favourite", "Favourite", "false", "true") %}
    {% call form::submit_button("Post") %}
</form>
{%endblock admincontent%}