---
---
<section id="about" class="bg-s1 h-screen">
    <h2 class="text-5xl font-bold text-center py-5">About</h2>
    <div class="flex justify-center py-10 text-2xl">
        <p>
            I'm Sean, I'm 16 and have a passion for Computers and Electronics,
            <br />
            I'm currently listening to XX and I'm currently in XX.
            <br />
            I work for <a href="https://hackclub.com">Hack Club</a>, while also being a Active community member.
            <br />
            I especially enjoy using my current stack of Next.js, TailwindCSS and Vercel. However, I have used Rails in the past. 
        </p>
    </div>
</section>