---
---
<footer class="bg-footer flex flex-col justify-center items-center">
    <h2 class="p-4 text-6xl">Thanks for visiting :)</h2>
    <p>
        If you want to reach out, feel free to email me at <a href="mailto:hi@sean.cyou">hi@sean.cyou</a> or contact me on Bluesky at <a href="https://bsky.app/profile/sean.cyou">@sean.cyou</a>
        <br />
        &copy; 2024 Sean Outram
    </p>
</footer>