---
import "../assets/stylesheets/512club.css";
---
<footer class="bg-footer flex flex-col justify-center items-center">
    <h2 class="p-4 text-6xl">Thanks for visiting :)</h2>
    <p>
        If you want to reach out, feel free to email me at <a href="mailto:hi@sean.cyou">hi@sean.cyou</a> or contact me on Bluesky at <a href="https://bsky.app/profile/sean.cyou">@sean.cyou</a>
        <br />
        &copy; 2024 Sean Outram
    </p>
    <div class="flex justify-between items-center">
        <div class="kb-club">
            <a target="blank" href="https://512kb.club">
                <span class="kb-club-no-bg">512KB Club</span>
                <span class="kb-club-bg">Blue Team</span>
            </a>
        </div>
    </div>
</footer>