---
import { GuestlogForm } from "./guestlog/form.tsx"
import { GuestlogList } from "./guestlog/list.tsx"
import { getCollection } from "astro:content";

const guestlogCollection = await getCollection("guestlog");
const guestlog = guestlogCollection.map((entry) => {
    delete entry.data.email;
    return {
        ...entry.data
    };
});
---
<section id="guestlog" class="bg-s3 min-h-screen max-h-fit px-5">
    <h2 class="text-5xl font-bold text-center py-5">Guestlog</h2>
    <GuestlogForm client:only/>
    <GuestlogList guestlog={guestlog} client:only/>
</section>