{% extends "base.html" %}

{% block content %}
<div data-controller="websocket" data-websocket-channel-value="spotify" hidden></div>
<header class="h-screen flex flex-col justify-center items-center bg-header text-black">
    <h1 class="text-9xl">Hi!</h1>
    <div class="w-full grid grid-cols-3 grid-rows-1 place-items-center items-end gap-3 absolute bottom-0 text-black">
        <div data-controller="spotify" data-action="wsmessage@document->spotify#recieved" data-spotify-target="output"
            class="m-4 flex flex-col w-full items-start">
            {{spotify_widget|safe}}
        </div>
        <img src="/assets/icon/down-caret.svg" alt="Down Caret Icon" width="128" height="128" loading="eager" />
    </div>
</header>
<section id="about" class="bg-s1 min-h-screen max-h-fit">
    <h2 class="text-5xl font-bold text-center py-5">About</h2>
    <div class="mx-2 grid grid-cols-1 lg:grid-cols-2 grid-rows-2 lg:grid-rows-1 gap-4">
        <div class="flex flex-col items-center">
            <h2 class="text-4xl">My Experience</h2>
            {% for company in experiences %}
            <div class="w-full prl-4 mx-6 items-left justify-center p-4 flex flex-col bg-white m-2 rounded-lg">
                <h3 class="text-2xl">{{ company.company }}</h3>
                <ul class="mx-8">
                    {% for experience in company.experience %}
                    <li>
                        <h4 class="text-xl">{{ experience.name }}</h4>
                        <p class="text-md">
                            {{ experience.e_type }}
                            <br />
                            {{ experience.start_date }}
                            {% if experience.end_date != String::new() %}
                            - {{ experience.end_date }}
                            {% else %}
                            - Present
                            {% endif %}
                        </p>
                        <p class="text-md">
                            {{ experience.description }}
                        </p>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{%endblock content%}