{% extends "base.html" %}
{%- import "parts/form.html" as form -%}
{% block content %}
<div data-controller="websocket" data-websocket-channel-value="spotify" hidden></div>
<header class="h-screen flex flex-col justify-center items-center bg-header text-black">
    <h1 class="text-9xl">Hi!</h1>
    <div class="w-full grid grid-cols-3 grid-rows-1 place-items-center items-end gap-3 absolute bottom-0 text-black">
        <div data-controller="spotify" data-action="wsmessage@document->spotify#recieved" data-spotify-target="output"
            class="m-4 flex flex-col w-full items-start">
            {{spotify_widget|safe}}
        </div>
        <img src="/assets/icon/down-caret.svg" alt="Down Caret Icon" width="128" height="128" loading="eager" />
    </div>
</header>
<section id="about" class="bg-s1 min-h-screen max-h-fit">
    <h2 class="text-5xl text-white font-bold text-center py-5">About</h2>
    <p class="text-white text-center text-2xl ">
        I'm Sean, I have a passion for Computers and Electronics,
        <br />
        I'm a largely self-taught developer who hates the way the current education system works.
        <br />
        I work for Hack Club, while also being a Active community member.
    </p>
    <div class="mx-2 grid grid-cols-1 lg:grid-cols-2 grid-rows-2 lg:grid-rows-1 gap-4 text-white">
        <div class="flex flex-col items-center">
            <h2 class="text-4xl text-white">My Experience</h2>
            <ul class="w-full prl-4 mx-6 items-left justify-center gap-8 p-4 flex flex-col m-2 rounded-lg">
                {% for company in experiences %}
                <li class="relative pl-6 pb-0">
                    <div>
                        <h3 class="text-2xl">{{ company.company }}</h3>
                    </div>
                    <ul class="mx-8 gap-4">
                        {% for experience in company.experience %}
                        <li class="relative pl-6 pb-0">
                            <div class="absolute left-0 top-1.5 w-3 h-3 bg-white rounded-full"></div>
                            <div class="absolute left-1.5 top-3 bottom-0 w-px bg-white last:hidden"></div>
                            <h4 class="text-xl">{{ experience.name }}</h4>
                            <p class="text-md">
                                {{ experience.e_type }}
                                <br />
                                {{ experience.start_date }}
                                {% if experience.end_date != String::new() %}
                                - {{ experience.end_date }}
                                {% else %}
                                - Present
                                {% endif %}
                            </p>
                            <p class="text-md">
                                {{ experience.description }}
                            </p>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="flex flex-col items-center">
            <h2 class="text-4xl text-white">My Education</h2>
            <ul class="w-full prl-4 mx-6 items-left justify-center gap-8 p-4 flex flex-col  m-2 rounded-lg">
                {% for company in education %}
                <li class="relative pl-6 pb-0">
                    <div>
                        <h3 class="text-2xl">{{ company.company }}</h3>
                    </div>
                    <ul class="mx-8 gap-4">
                        {% for experience in company.experience %}
                        <li class="relative pl-6 pb-0">
                            <div class="absolute left-0 top-1.5 w-3 h-3 bg-white rounded-full"></div>
                            <div class="absolute left-1.5 top-3 bottom-0 w-px bg-white last:hidden"></div>
                            <h4 class="text-xl">{{ experience.name }}</h4>
                            <p class="text-md">
                                {{ experience.e_type }}
                                <br />
                                {{ experience.start_date }}
                                {% if experience.end_date != String::new() %}
                                - {{ experience.end_date }}
                                {% else %}
                                - Present
                                {% endif %}
                            </p>
                            <p class="text-md">
                                {{ experience.description }}
                            </p>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
{{ project|safe }}
<section id="guestlog" class="bg-s3 min-h-screen max-h-fit" data-controller="websocket"
    data-websocket-channel-value="guestlog">
    <h2 class="text-5xl text-white font-bold text-center py-5">Guestlog</h2>
    <section>
        <form class="flex items-center justify-center flex-col gap-4 text-white" method="post"
            enctype="multipart/form-data" action="/admin/guestlog">
            <div class="flex flex-col">
                <label for="name">Name</label>
                <input class="text-black rounded-lg p-2 bg-white" id="name" name="name" required />
            </div>
            <div class="flex flex-col">
                <label for="email">Email</label>
                <input class="text-black rounded-lg p-2 bg-white" id="email" name="email" required type="email" />
            </div>
            <div class="flex flex-col">
                <label for="avatar">Avatar</label>
                <input class="text-black rounded-lg p-2 bg-white" id="avatar" name="avatar" required type="file" accept=".jpg, .png, .jpeg, .gif, .bmp, .tif, .tiff|image/* />
            </div>
            <div class=" flex flex-col">
                <label for="message">Message</label>
                <textarea class="text-black rounded-lg p-2 bg-white" id="message" name="message" required></textarea>
            </div>
            <button type="submit" class="px-5 py-1 rounded-lg text-black bg-white hover:bg-blue-500">Post on the
                log</button>
        </form>
    </section>
    <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 pt-4 gap-5 text-black" data-controller="guestlog"
        data-action="wsmessage@document->guestlog#recieved" data-guestlog-target="output">
        {{ guestlog|safe }}
    </section>
</section>
{%endblock content%}