{% macro input(type, name, label, required) %}
<div class="flex flex-col">
    <label for="{{ name }}">{{ label }}:</label>
    <input name="{{ name }}" type="{{ type }}" id="{{ name }}" required="{{required}}"
        class="border-1 border-white p-1 rounded-md" />
</div>
{% endmacro %}

{% macro submit_button (label) %}
<button class="bg-white p-1 text-black w-full" type="submit">{{ label }}</button>
{% endmacro %}

{% macro select (name, label, options, required) %}
<div class="flex flex-col">
    <label for="{{ name }}">{{ label }}: </label>
    <select name="{{ name }}" class="border-1 border-white p-1 rounded-md" required="{{ required }}">
        {% for option in options %}
        <option>{{ option }}</option>
        {% endfor %}
    </select>
</div>
{% endmacro %}